# Etapa 2: Análise e Upload para AWS S3

**Objetivo:** Carregar os dados limpos, realizar análises para responder às perguntas de negócio e fazer o upload seguro dos resultados para um bucket na AWS S3.

In [ ]:
import pandas as pd
import boto3
from dotenv import load_dotenv
from io import StringIO
import os

print("Bibliotecas importadas com sucesso.")

Biblioteca Pandas importada com sucesso.

In [2]:
# Carregamento dos Dados Limpos (Código)
# Define o caminho para o arquivo de dados limpos
caminho_dados_limpos = 'dados_processados/movimento_migratorio_limpo.csv'

# Carrega os dados
try:
    df = pd.read_csv(caminho_dados_limpos)
    print("Dados limpos carregados com sucesso!")
except FileNotFoundError:
    print(f"Erro: Arquivo não encontrado no caminho '{caminho_dados_limpos}'. Certifique-se de executar o notebook 'etl.ipynb' primeiro.")

Dados limpos carregados com sucesso!

### Análise 1: Total de Movimentos por Nacionalidade (Top 20)

In [3]:
print("Analisando por nacionalidade...")

# Agrupa os dados pela coluna 'NACIONALIDADE' e soma os valores da coluna 'TOTAL'
analise_nacionalidade = df.groupby('NACIONALIDADE')['TOTAL'].sum().reset_index()

# Ordena os resultados do maior para o menor
analise_nacionalidade = analise_nacionalidade.sort_values(by='TOTAL', ascending=False)

print("Análise por nacionalidade concluída.")

# Exibe as 20 principais nacionalidades
analise_nacionalidade.head(20)

Analisando por nacionalidade...
Análise por nacionalidade concluída.

      NACIONALIDADE    TOTAL
23           BRASIL  1473473
8         ARGENTINA   207497
38            CHILE   111028
61   ESTADOS UNIDOS    83084
185         URUGUAI    52479
41         COLÔMBIA    38886
143        PORTUGAL    34507
66           FRANÇA    32965
138        PARAGUAI    27607
140            PERU    25754
39            CHINA    24643
92           ITÁLIA    24453
64        FILIPINAS    23220
189       VENEZUELA    20771
60          ESPANHA    20058
21          BOLÍVIA    18904
2          ALEMANHA    18469
146     REINO UNIDO    18180
123          MÉXICO    18006
195           ÍNDIA    10877

### Análise 2: Total de Movimentos por UF de Atendimento

In [4]:
print("Analisando por UF de atendimento...")

# Agrupa por UF e soma os totais
analise_uf = df.groupby('UF_ATENDIMENTO')['TOTAL'].sum().reset_index()

# Ordena os resultados
analise_uf = analise_uf.sort_values(by='TOTAL', ascending=False)

print("Análise por UF concluída.")

# Exibe o resultado
analise_uf

Analisando por UF de atendimento...
Análise por UF concluída.

   UF_ATENDIMENTO    TOTAL
24             SP  1424938
17             RJ   406188
21             RS   104531
16             PR    89861
6              DF    72304
22             SC    60252
10             MG    48464
4              BA    43899
15             PE    42429
5              CE    39930
2              AM    19722
13             PA    18452
20             RR    13126
11             MS    10784
18             RN     7332
3              AP     7316
0              AC     6230
7              ES     4026
1              AL     2971
19             RO     1112
12             MT      749
9              MA      642
14             PB      427
8              GO       77
23             SE       54

### Análise 3: Total de Movimentos por Classificação

In [5]:
print("Analisando por classificação do movimento...")

# Agrupa por classificação e soma os totais
analise_classificacao = df.groupby('CLASSIFICACAO')['TOTAL'].sum().reset_index()

# Ordena os resultados
analise_classificacao = analise_classificacao.sort_values(by='TOTAL', ascending=False)

print("Análise por classificação concluída.")

# Exibe o resultado
analise_classificacao

Analisando por classificação do movimento...
Análise por classificação concluída.

  CLASSIFICACAO    TOTAL
0        OUTROS  1624292
3     VISITANTE   720063
1    PERMANENTE    74567
2    TEMPORÁRIO     6894

In [6]:
# Salvando os Resultados da Análise (Código)
# Cria a pasta 'resultados' se ela não existir
if not os.path.exists('resultados'):
    os.makedirs('resultados')
    print("Pasta 'resultados' criada.")

# Define os caminhos para os arquivos de resultado
caminho_nacionalidade = 'resultados/analise_nacionalidade.csv'
caminho_uf = 'resultados/analise_uf.csv'
caminho_classificacao = 'resultados/analise_classificacao.csv'

# Salva cada DataFrame de análise em seu respectivo arquivo CSV
analise_nacionalidade.to_csv(caminho_nacionalidade, index=False)
analise_uf.to_csv(caminho_uf, index=False)
analise_classificacao.to_csv(caminho_classificacao, index=False)

print(f"Resultados salvos com sucesso na pasta 'resultados/':")
print(f"- {caminho_nacionalidade}")
print(f"- {caminho_uf}")
print(f"- {caminho_classificacao}")

Resultados salvos com sucesso na pasta 'resultados/':
- resultados/analise_nacionalidade.csv
- resultados/analise_uf.csv
- resultados/analise_classificacao.csv